{% extends 'admin/admin_base.html' %}

{% block content %}

<div class="flex flex-1 gap-5">
    <div class="w-9/12 w-full">
        <div class="flex flex-1 flex-col">
            <h2 class="text-lg font-medium space-y-3">Manage Authors</h2>
            <table class="w-full border bg-gray-50 mt-3">
                <thead>
                    <tr>
                        <th class="border py-2">Id</th>
                        <th class="border py-2">Name</th>
                        <th class="border py-2">Contact</th>
                        <th class="border py-2">Email</th>
                        <th class="border py-2">No of Books</th>
                    </tr>
                </thead>
                <tbody>
                   
                   {% for author in authors %}
                   <tr>
                    <td class="border p-2">{{author.id}}</td>
                    <td class="border p-2">{{author.name}}</td>
                    <td class="border p-2">{{author.contact}}</td>
                    <td class="border p-2">{{author.email}}</td>
                    <td class="border p-2">{{author.author.count}}</td>
                   </tr>
                    
                   {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="w-3/12">
        <h2  class="text-lg font-medium space-y-3 items-center text-center">Insert Author</h2>
    </div>
</div>
  
{% endblock content %}