{% extends 'admin/admin_base.html' %}
{% load tailwind_filters %}
{% block content %}

<div class="flex flex-1 gap-5">
    <div class="w-9/12 w-full">
        <div class="flex flex-1 flex-col">
            <h2 class="text-lg font-medium space-y-3">Manage Generes</h2>
            <div class="flex items-center gap-3 mt-5 text-md text-gray-600">
                <p>Total Generes : {{generes.paginator.count}}</p>
                <p>Showing {{generes.start_index}} to {{generes.end_index}}</p>
                <p>Page No : {{generes.number}} </p>
            </div>
            <table class="w-full border bg-gray-50 mt-3">
                <thead>
                    <tr>
                        <th class="border py-2">Id</th>
                        <th class="border py-2">Name</th>
                        <th class="border py-2">Description</th>
                    </tr>
                </thead>
                <tbody>
                   
                   {% for genere in generes %}
                   <tr>
                    <td class="border p-2">{{genere.id}}</td>
                    <td class="border p-2">{{genere.title}}</td>
                    <td class="border p-2">{{genere.description}}</td>
                   </tr>
                    
                   {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="w-3/12">
        <h2  class="text-lg font-medium space-y-3 items-center text-center">Insert Genere</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-900 w-full p-2 rounded-lg">Submit</button>
        </form>
    </div>
</div>
<div class="flex mt-5 items-center gap-3 justify-between">
                
                {% if generes.has_previous %}
                    <span class="border px-3 py-1 bg-gray-200"><a href="?page={{ generes.previous_page_number }}">Previous</a></span>
                {% else %}
                <span class="border px-3 py-1 bg-gray-200 cursor-not-allowed">Previous</span>

                {% endif %}

                
                {% if generes.has_next %}
                  <span class="border px-3 py-1 bg-gray-200"><a href="?page={{ generes.next_page_number }}">Next</a></span>
                {% else %}
                                <span class="border px-3 py-1 bg-gray-200 cursor-not-allowed">Next</span>

                {% endif %}
  
{% endblock content %}