{% extends 'admin/admin_base.html' %}

{% block content %}

<div class="flex flex-1 gap-5">
    
        <div class="flex flex-1 flex-col">
            <div class="flex flex-1 justify-between">
                
                <h2 class="text-lg font-medium ">Manage Books</h2>
                <a href="" class="text-lg font-medium text-purple-700 hover:underline">Insert Books</a>
            </div>
            <table class="w-full border bg-gray-50 mt-3">
                <thead>
                    <tr>
                        <th class="border py-2">Id</th>
                        <th class="border py-2">Image</th>
                        <th class="border py-2">Title</th>
                        <th class="border py-2">Description</th>
                        <th class="border py-2">Price</th>
                        <th class="border py-2">Dis_Price</th>
                        <th class="border py-2">Author</th>
                        <th class="border py-2">ISBN</th>
                    </tr>
                </thead>
                <tbody>
                   
                   {% for book in books %}
                   <tr>
                    <td class="border p-2">{{book.id}}</td>
                    <td class="border p-2"><img src="{{book.cover_image.url}}" alt="" class="w-16 h-16"></td>
                    <td class="border p-2">{{book.title}}</td>
                    <td class="border p-2">{{book.description}}</td>
                    <td class="border p-2">{{book.price}}</td>
                    <td class="border p-2">{{book.dis_price}}</td>
                    <td class="border p-2">{{book.author.name}}</td>
                    <td class="border p-2">{{book.isbn}}</td>
                   </tr>
                    
                   {% endfor %}
                    
                </tbody>
            </table>
     
    </div>
   
</div>
  
{% endblock content %}